body {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #F4F3F3;
}
.result {
  padding: 12px !important;
}
.searchLi {
  list-style: none;
}
.searchLiRight {
  float: right;
}
.searchLi i {
  margin-right: 10px;
}
